<div class="container">
  <h2 class="text-center mt-4 fs-1" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Welcome To Weather list Application</h2>

<div class="row pb-5">
  <div class="w-50 mx-auto">
    <input type="text" class="form-control my-3" placeholder="search by city and start typing to filter results instantly ..."
    [(ngModel)]="searchCity"
    (keyup)="filterWeatherList()"/>
  </div>

  <!-- <div class="col-sm-4 mb-3">
 <button class="btn btn-primary" (click)="filterWeatherList()">Filter</button>
  </div> -->
  <button class="btn btn-outline-primary mx-2 my-3" (click)="sortWeatherList('city')">
    Sort by city
  </button>
  <button class="btn btn-outline-primary mx-2 mt-3" (click)="sortWeatherList('temperature')">
    Sort by Temperature
  </button>
</div>



  <ul class="list-group py-5 bg-body-secondary">
    @for(cityWeather of filteredWeatherList;track cityWeather.id)
    {
<button class="  btn w-50 mx-auto shadow-sm btn-outline-dark text-capitalize my-2"
(click)="navigateToWeather(cityWeather.temperature)" >
  {{cityWeather.city}} :  <span class="text-danger fw-bold">{{cityWeather.temperature}}</span>
</button>
    }
  </ul>
</div>